<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ReestrConnect" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=ReestrStore;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ReestrStore.mdf"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages theme="DefaultTheme" controlRenderingCompatibilityVersion="4.0"/>
    <compilation debug="true" targetFramework="4.5"/>

    <authentication mode="Windows" />
  </system.web>
</configuration>